<h1>{{title}}</h1>
<p>
  Welcome to {{title}}, where you can draw a moustache on someone.<br/>
  Click the image below to place a moustache.<br />
  Once happy with the result click "Convert to image" and right-click the image on the right and select "Save image as..."
</p>

<div>
  <canvas id="canvas" width="500" height="800"></canvas>
  <img id="image-out" style="display: none;" alt="Right click to download" />
</div>
<input id="btn-convert" type="button" value="Convert to image" />

<script>
  "use strict";

  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var btn = document.getElementById('btn-convert');
  var out = document.getElementById('image-out');

  var image = new Image();
  image.addEventListener("load", function() {

    canvas.width = image.width;
    canvas.height = image.height;

    context.drawImage(image, 0, 0);

    var moustache = new Image();
    moustache.addEventListener("load", function() {

      canvas.addEventListener("mousedown", function(ev) {
        var x = ev.offsetX - (moustache.width / 2);
        var y = ev.offsetY - (moustache.height / 2);

        context.clearRect(0, 0, canvas.width, canvas.height);
        context.drawImage(image, 0, 0);
        context.drawImage(moustache, x, y);
      }, false);


    }, false);
    moustache.src = "images/moustache.png";

  }, false);
  image.src = "uploads/{{name}}";


  btn.addEventListener('click', function() {
    out.src = canvas.toDataURL();
    out.removeAttribute('style');
  })

</script>
